body {
  background: linear-gradient(
    -45deg,
    #fc8642,
    #ff453f,
    #ff470f,
    #77043a,
    #ffa260,
    #cfa473
  );
  background-size: 500% 400%;
  animation: gradient 5s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  margin: 35px;
  height: 2000px;
}

.titre {
  text-align: center;
  margin-bottom: auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.todo_in {
  margin: 15%;
  padding-left: 5px;
  border-radius: 20px;
  margin-left: 20%;
  width: 45%;
  height: 90px;
  border-color: crimson;
  box-shadow: #161616;
}
.button_add {
  border-radius: 20px;
  padding-right: 5px;
  border: solid 1px crimson;
  width: 105px;
  height: 110px;
}

.button_add:hover {
  background-color: red;
}

.footer_title {
  text-align: center;
  margin: 1560px;
  margin-left: 420px;
}

input::placeholder {
}
